.displayController{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

.gameBoard{
    width: 240px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
}

.cell{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
    line-height: 80px;
    font-size: 50px;
    cursor: pointer;
}

.restart-btn{
    background-color: #4CAF50;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #3e8e41;
    border-radius: 5px;
}

.restart-btn:hover{
    background-color: #3e8e41;
    border: 2px solid #4CAF50;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}